
<div class="container-mt-5">
    <div class="row">
        <div class="col-lg-8-offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                   
                    <div class="card-title">
                        <span class="titulo">Archivos
                          <button class="btn btn-primary float-end" (click)=open(archivosModal)>Nuevo</button>
                        </span>
                    </div>
                   
                    <div class="table-responsive mt-3 " style="width:100%">
                      <table class="table table-hover">
                        <thead class="table-dark">
                          <tr>
                            <!-- <th scope="col">Propietario</th>
                            <th scope="col">Paciente</th> -->
                            <th scope="col">Fecha</th>
                            <th scope="col">Archivo</th>
                            <th scope="col">Comentarios</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                         
                         
                        </tbody>
                      </table>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
   
  </div>


  <ng-template #archivosModal let-modal>
    <div class="modal-header">
     <h5 class="modal-title" >Archivos a Adjuntar</h5>
     
     <button
      type="button"
      class="btn-close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    ></button>
     
    </div>
    
    <div class="modal-body">
      
      <form class= "row g-3 mt-3" [formGroup]="archivoForm" (ngSubmit)="onGrabarArchivo()">
  
        <input type="hidden" formControlName="id" name="id">
  
        < <div class="col-12">
          <label for="fname">Archivos Adjuntos</label>
    
          <div class="col-12">
            <label class="btn btn-default p-0">
              <input type="file" multiple  (change)="maneja_Imagen($event)" />
            </label>
          </div>
              <div  *ngIf="selectedFiles[0] != null " class="table-responsive mt-3">
                <table class="table ">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Tamaño</th>
                      <th>Progreso</th>
                      <th>URL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let file of selectedFiles">
                      <td>{{ file.name  }}</td>
                      <td>{{ file.file.size / 1024 / 1024 |  number: "0.2-2"  }}MB </td>
                      <td *ngIf="file.uploadPercent  | async as uploadPercent">
                            
    
                      <div class="progress"  >
                      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      </td>
                      <td  *ngIf="file.downloadURL |async as downloadURL">
                      <a [href]="downloadURL">{{downloadURL}}</a>
                      </td>
                      </tr>
                      </tbody>
                  </table>     
              </div>
        </div>
         
           
        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleTextarea">Comentarios:</label>
            <textarea class="form-control" formControlName="comentarios" rows="3"></textarea>
          </div>
        </div>
  
  
        <div class="form-group">
          <button  type="button" (click)="modal.close()" class="btn btn-secondary  float-start">Volver</button>  
          <button type="submit"  class="btn btn-primary  float-end">Aceptar</button>  
        </div>
      </form>     
    </div>
   </ng-template>
