<div class="container mt-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of sanidad"  [@fadeIn]>
       
        <div class="card mb-4 shadow-box custom-card"  >
          <img src="https://via.placeholder.com/150" class="card-img-top" alt="User Image">
          <div class="card-body">
            <h5 class="card-title mb-4">{{ item.paciente }}</h5>
            <hr>
            
            <h6 class="card-subtitle mb-2 text-body-secondary">PROPIETARIO: {{ item.propietario }}</h6>
            <br>
            <p class="card-text">{{ item.comentarios }}</p>
            <div class="d-flex justify-content-center">
              <button class="btn btn-success">
                Enviar recordatorio
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
