
<div class="container-mt-5">
    <div class="row">
        <div class="col-lg-8-offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                   
                    <div class="card-title">
                        <span class="titulo">Historial Sanitario</span>
                        <button class="btn btn-primary float-end" (click)="open(editProfileModal)" >Nuevo</button>
                    </div>
                   
                    <div class="table-responsive mt-3">
                      <table class="table table-hover">
                        <thead class="table-dark">
                          <tr>
                            <th scope="col">Vacuna</th>
                            <!-- <th scope="col">Dirección</th> -->
                            <th scope="col">Antiparasitario</th>
                            <!-- <th scope="col">Email</th> -->
                            <th scope="col">Fecha</th>
                            <!-- <th scope="col">Email</th> -->
                            <th scope="col">Comentarios</th>
                            <!-- <th scope="col">Email</th> -->
                            <th scope="col" style="width:10%"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let historia of sanidad">
                            <th>{{historia.vacuna}}</th>
                            <td>{{historia.antiparasitario}}</td>
                            <td>{{historia.fecha | date:"dd-MM-yyyy" }}</td>
                            <td>{{historia.comentarios}}</td>
                            <td>
                              <a (click)="eliminarPlan(historia)"><i  class="fas fa-trash text-danger" ></i></a>
                              &nbsp;
                              <a  (click)="openEdit(editProfileModal,historia)"><i class="fas fa-edit text-primary"  ></i></a>      
                              <!-- <a [routerLink]="['/editar-sanidad', historia.id]"><i class="fas fa-edit text-primary"  ></i></a>       -->
                            </td>
                          </tr>
                         
                        </tbody>
                      </table>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
<ng-template #editProfileModal let-modal>
  <div class="modal-header">
   <h5 class="modal-title" id="editProfileLabel">{{titulo}}</h5>
   <!-- <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')"> -->
    <button
    type="button"
    class="btn-close"
    aria-label="Close button"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  ></button>
    <!-- <span aria-hidden="true">&times;</span>
  </button> -->
   
  </div>

  <div class="modal-body">
    <form class= "row g-3 mt-3"  [formGroup]="sanidadForm" (ngSubmit)="onGrabarSanidad()">

      <input type="hidden" class="form-control" formControlName="id">
                    
      <div class="col-md-6">
        <label>Fecha Aplicacion:   </label>
        <div class=" input-group">
          <input  class="form-control" placeholder="dd/mm/yyyy"
            name="d1"  ngbDatepicker #d1 ="ngbDatepicker" 
            formControlName="fechaAplicacion">
   
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
          </div>
        </div>
      </div>

      <div class="col-md-6">

      </div>
      
      <div class="col-md-6">
        <label >Vacunas:</label>
        <select class="form-select" formControlName="vacuna">
            <option  selected [ngValue]="0">Ninguna...</option>
            <option *ngFor="let vacuna of vacunas" [ngValue]="vacuna.vacuna">{{vacuna.vacuna}}</option>
        </select>
      </div>

      <div class="col-md-6">
        <label >Antiparasitarios:</label>
        <select class="form-select" formControlName="antiparasitario">
          <option  [ngValue]="0">Ninguna...</option>
          <option *ngFor="let antiparasitario of antiparasitarios" [ngValue]="antiparasitario.antiparasitario">{{antiparasitario.antiparasitario}}</option>
        </select>
      </div>

      <div class="col-md-6">
        <label>Fecha Proxima: </label>
        <div class=" input-group">
         
          <input class="form-control" placeholder="dd/mm/yyyy"
              name="d2"  ngbDatepicker #d2="ngbDatepicker" 
              formControlName="proxima">
   
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <br>
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Agregar al recordatorio</label>
      </div>

      <div class="col-12 ">
        <label >Comentarios:</label>
        <textarea formControlName="comentarios" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
       </div>
    </form>           
  </div>
 </ng-template>






