  a {
    cursor: pointer;
  }
 

  table, th, td {
    border:1px solid black;
    border-collapse: collapse;
  }

  /* button{
    margin: 13px;
  } */


  button.calendar, button.calendar:active {
    width: 2.75rem;
    height: 100%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }

  ::ng-deep .ngb-toasts {
    position: fixed;
    top: auto!important;
    bottom: 0!important;
    right: 0!important;
    left: auto!important;
    margin: 0.5em;
  }

  .shadow-box {
    background-color: #f0f0f0;
    box-shadow: 10px 10px 5px #888888;
  }


  .alert-primary-gradient {
    background: linear-gradient(to right, #007bff, #6cb2eb);
    color: white; /* Para asegurarte de que el texto sea legible */
    padding: 10px;
    text-align: center;
  }

  .custom-button {
    background-color: #4285f4; /* Gmail blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 4px;
  }
  
  .custom-button:hover {
    background-color: #357ae8; /* Slightly darker blue */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  }

  .btn {
    margin: 5px;
  }

  fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
    padding-top: 20px;
    position: relative;
  }
  legend {
    padding: 0 10px;
    width: auto;
    position: absolute;
    top: -10px;
    left: 10px;
    background: white;
  }
