body {
  background: #f8f9fa;
  font-family: 'Roboto', sans-serif;
}
.form-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  margin-top: 50px;
}
.form-title {
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.form-group textarea {
  resize: none;
  margin: 5px 0px 10px;
}
.btn-custom {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin: 8px;
}


.shadow-box {
  background-color: #f0f0f0;
  box-shadow: 10px 10px 5px #888888;
}

